DHIS2_BASE_URL=https://emistraining.dhis2nigeria.org.ng/semis
DHIS2_PAT=your_dhis2_personal_access_token
VITE_DHIS2_PROXY_URL=/dhis2
VITE_DHIS2_BASE_URL=https://emistraining.dhis2nigeria.org.ng/semis
VITE_DHIS2_INDICATOR_IDS=dh9fliYibms,S2cH9F1T7MU,jZtYw0T5xJl,stoCrMx0ED1,BWLfuuEdRZM,ERcw4yZuSSd
